    <footer >
      <div class="row flex-st">
        <div class="col-4 p-30">
          <div class="footer-header">Contact Us</div>
          <div class="logo-img p-20">
            <img src="/img/logo.png" alt="logo" />
          </div>
          <div class="contact p-20">
            <div class="contact-name">Công ty CPGD American Study</div>
            <div class="contact-address mb-30">
              Địa chỉ: <br />
              – Tòa Yên Hòa Sunshine, số 9 Vũ Phạm Hàm, phường Yên Hòa, quận Cầu
              Giấy, thành phố Hà Nội
            </div>
            <div class="contact-num mb-30">
              Hotline: 0912 170 676 – 0964 102 268
            </div>
            <div class="contact-mail">Email: americanstudy.info@gmail.com</div>
          </div>
        </div>
        <div class="col-4 p-30">
          <div class="footer-header">Categories</div>
          <ul>
            <li class="grow">Home</li>
            <li class="grow">Take action</li>
            <li class="grow">The 17 Goals</li>
            <li class="grow">News</li>
            <li class="grow">Podcast</li>
            <li class="grow">Resources</li>
          </ul>
        </div>
        <div class="col-4 p-30">
          <div class="footer-header">Out Gallery</div>
          <div class="sq">
            <div class="row">
              <div class="col-3 footer-img grow">
                <img src="/img/sec9-img4.png" alt="" />
              </div>
              <div class="col-3 footer-img grow">
                <img src="/img/sec9-img12.png" alt="" />
              </div>
              <div class="col-3 footer-img grow">
                <img src="/img/sec9-img10.png" alt="" />
              </div>
            </div>
            <div class="row">
              <div class="col-3 footer-img grow">
                <img src="/img/sec9-img9.png" alt="" />
              </div>
              <div class="col-3 footer-img grow">
                <img src="/img/sec9-img11.png" alt="" />
              </div>
              <div class="col-3 footer-img grow">
                <img src="/img/sec9-img2.png" alt="" />
              </div>
            </div>
            <div class="row">
              <div class="col-3 footer-img grow">
                <img src="/img/sec9-img1.png" alt="" />
              </div>
              <div class="col-3 footer-img grow">
                <img src="/img/sec9-img6.png" alt="" />
              </div>
              <div class="col-3 footer-img grow">
                <img src="/img/sec9-img7.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 p-30">
          <div class="footer-header">Lastest New</div>
          <ul>
            <li class="grow">Home</li>
            <li class="grow">Take action</li>
            <li class="grow">The 17 Goals</li>
            <li class="grow">News</li>
            <li class="grow">Podcast</li>
            <li class="grow">Resources</li>
          </ul>
        </div>
      </div>
      <div class="copyright">Coppyright 2022</div>
    </footer>
  </body>
</html>