<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zero Hunger</title>
    <link rel="stylesheet" href="../all.css" />
    <link rel="stylesheet" href="../footer.css" />
    <link rel="stylesheet" href="../header.css" />
    <link rel="stylesheet" href="../home.css" />
    <link rel="stylesheet" href="../show.css" />
    <link rel="stylesheet" href="../about.css" />
    <link rel="stylesheet" href="../support.css">
    <link rel="stylesheet" href="../map.css">
    <script
      src="https://kit.fontawesome.com/09ee6f5eac.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="d-flex upper-header">
        <div class="header-contact">
          <div class="in-block header-contact-number">0989898989</div>
          <div class="in-block header-contact-email">lehoang@gmail.com</div>
        </div>
        <div class="in-block login-sign-up">
          <div class="in-block login">Login</div>
          <div class="in-block sign-up">Sign up</div>
        </div>
      </div>
      <div class="d-flex lower-header">
        <div class="logo-img">
          <img src="/img/logo.png" alt="logo" />
        </div>
        <nav>
          <ul class="main-nav">
            <li><a href="/">home</a></li>
            <li><a href="/about">about us</a></li>
            <li><a href="/news">news</a></li>
            <li><a href="/map">map</a></li>
            <li>
              <a href="">support</a>
              <ul class="sub-nav">
                <li><a href="/need_support">Need Support?</a></li>
                <li><a href="/supporter">Want to be a Supporter?</a></li>
              </ul>
            </li>
            <li>
              <button class="resgister-btn">REGISTER NOW</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
