<%- include('./partials/header.ejs') %>
<!-- copy from home -->
<section class="sec3">
  <div class="upper bg-blue">
    <div class="sec-header">OUT CAUSE</div>
    <div class="sec-sologan">
      Chương trình gây quỹ từ thiện "Vì một niềm tin về hạnh phúc" "Vì một niềm
      tin về hạnh phúc"
    </div>
  </div>
  <div class="sec3-content">
    <div class="row">
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img1.png" alt="anh 1" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img2.png" alt="anh 2" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img3.png" alt="anh 3" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec3">
  <div class="upper bg-blue">
    <div class="sec-header">ĐỜI SỐNG</div>
    <div class="sec-sologan">
      Chương trình gây quỹ từ thiện "Vì một niềm tin về hạnh phúc" "Vì một niềm
      tin về hạnh phúc"
    </div>
  </div>
  <div class="sec3-content">
    <div class="row">
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img1.png" alt="anh 1" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img2.png" alt="anh 2" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img3.png" alt="anh 3" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img1.png" alt="anh 1" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img2.png" alt="anh 2" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img3.png" alt="anh 3" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img1.png" alt="anh 1" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img2.png" alt="anh 2" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img3.png" alt="anh 3" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec3">
  <div class="upper bg-blue">
    <div class="sec-header">SỨC KHỎE</div>
    <div class="sec-sologan">
      Chương trình gây quỹ từ thiện "Vì một niềm tin về hạnh phúc" "Vì một niềm
      tin về hạnh phúc"
    </div>
  </div>
  <div class="sec3-content">
    <div class="row">
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img1.png" alt="anh 1" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img2.png" alt="anh 2" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img3.png" alt="anh 3" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img1.png" alt="anh 1" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img2.png" alt="anh 2" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="sec3-img grow">
          <a href="/news/show">
            <img src="/img/sec3-img3.png" alt="anh 3" />
            <div class="sec3-img-hover">
              <div class="sec3-img-header">Who We Are Out Cause</div>
              <div class="sec3-img-content">
                <div class="row">
                  <div class="sec3-like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    Theresa webb like this
                  </div>
                  <div class="sec3-cmt">
                    <i class="fa-regular fa-message"></i>
                    1 comment
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sec3-lower">
          <a href="/news/show">
            <div class="sec3-header grow">Who We Are Out Cause</div>
          </a>
          <div class="sec3-text">
            We’ve read about wars in our history books and have seen far too
            many of them through our TV screens and phones. Unfortunately, wars
            are not yet a thing of…
          </div>
          <a href="/news/show">
            <div class="sec3-btn grow">See more...</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('./partials/footer.ejs') %>
