
    <%- include('./partials/header.ejs') %>
    <div class="banner">
      <img src="/img/show-banner.png" alt="banner" />
    </div>
    <div class="content plr-5p">
      <div class="content-header p-20">Who We Are Out Cause</div>
      <div class="content-text plr-5p">
        90% số ca tử vong do thiên tai xảy ra ở các nước đang phát triển <br />
        Hơn 90% số ca tử vong liên quan đến thiên tai xảy ra ở các nước đang
        phát triển, nơi nghèo đói và thiếu tài nguyên càng làm trầm trọng thêm
        nỗi đau. Viện trợ Hồi giáo hoạt động ở nhiều quốc gia trong số này,
        chuẩn bị cho các thảm họa trước khi chúng xảy ra và phản ứng nhanh chóng
        khi xảy ra.
        <br />
        <br />
        Khi thảm họa xảy ra, Viện trợ Hồi giáo luôn có mặt để giúp đỡ. <br />
        Chống lại đói nghèo không bao giờ khó hơn trong thời kỳ khủng hoảng.
        Thảm họa và xung đột làm gián đoạn cuộc sống của hơn 500 triệu người mỗi
        năm. Các hoạt động của Viện trợ Hồi giáo đã hỗ trợ các dự án ở hơn 10
        quốc gia trên thế giới, vì vậy chúng tôi có thể phản ứng nhanh với các
        trường hợp khẩn cấp và đảm bảo trợ giúp đến được nơi cần thiết nhất.
        <br />
        <br />
        Phản hồi đầu tiên <br />
        Giai đoạn đầu của phản ứng Viện trợ Hồi giáo là đáp ứng các nhu cầu cơ
        bản của người dân, bao gồm thực phẩm, nước, vệ sinh, nơi ở và chăm sóc
        sức khỏe. Năng lực khẩn cấp của Viện trợ Hồi giáo - quỹ, nguồn lực, tình
        nguyện viên, nhân viên và các tổ chức đối tác - cho phép chúng tôi cung
        cấp hỗ trợ nhanh chóng, hiệu quả.
        <br />
        <br />
        Nhưng phản ứng khẩn cấp nhanh chóng của chúng tôi chỉ là bước khởi đầu.
        Viện trợ Hồi giáo làm việc lâu dài với các cộng đồng, để giúp xây dựng
        lại cuộc sống và sinh kế, đồng thời giúp các cộng đồng giảm thiểu khả
        năng bị tổn thương trước những sự kiện tương tự trong tương lai.
        <br />
        <br />
        Đang hỗ trợ <br />
        Viện trợ Hồi giáo không chỉ giải quyết các nhu cầu ngắn hạn của các cộng
        đồng bị ảnh hưởng bởi thiên tai, mà còn ở đó và giải quyết vấn đề dài
        hạn. Viện trợ Hồi giáo mở rộng các chương trình sinh kế của mình để phân
        phát gia súc, hạt giống, công cụ và hơn thế nữa. Điều này giúp mọi người
        xây dựng lại cuộc sống và duy trì chúng về lâu dài.
      </div>
      <div class="content-img plr-5p">
        <img src="/img/show-content-img.png" alt="img" />
      </div>
      <div class="content-text plr-5p mb-30 ">
        Giảm rủi ro <br />
        Bởi vì khi các trường hợp khẩn cấp, như hạn hán hoặc xung đột, xảy ra
        liên tục, mọi người sẽ khó làm việc và hỗ trợ gia đình của họ. Điều này
        khiến họ gặp nhiều rủi ro hơn trong tương lai, khiến họ ít có khả năng
        ứng phó khi có trường hợp khẩn cấp xảy ra. Đối với các cộng đồng dễ bị
        tổn thương, bất kỳ thảm họa nào cũng có thể là thảm họa.
        <br />
        <br />
        Viện trợ Hồi giáo làm việc để giảm thiểu tình trạng dễ bị tổn thương
        trong các trường hợp khẩn cấp bằng cách làm việc với các cộng đồng để
        giúp họ trở nên tốt hơn trong việc dự đoán, chuẩn bị và ứng phó với các
        thảm họa như lũ lụt, thiếu lương thực và các trường hợp khẩn cấp liên
        quan đến xung đột.
        <br />
        <br />
        Sau khi Viện trợ Hồi giáo khẩn cấp chuyển từ cứu trợ khẩn cấp sang phục
        hồi để đảm bảo rằng các cộng đồng không phụ thuộc vào các khoản hỗ trợ
        mà có thể tự giúp mình. Ví dụ, ở Haiti sau trận động đất kinh hoàng, tổ
        chức IS Aid đã cung cấp thực phẩm, nước và dụng cụ vệ sinh cho những
        người có nhu cầu. Nhưng chúng tôi cũng hỗ trợ tiền mặt cho các chương
        trình làm việc cho phép mọi người bắt đầu làm việc trở lại để tự trang
        trải cuộc sống.
        <br />
        <br />
        Cách thức mà Viện trợ Hồi giáo cung cấp cứu trợ là rất quan trọng, vì
        Viện trợ Hồi giáo nhằm mục đích bảo vệ phẩm giá của mọi người bằng mọi
        thứ mà chúng tôi làm. Ví dụ, cung cấp nơi trú ẩn không chỉ là đảm bảo
        rằng mọi người có một mái nhà trên đầu của họ, nơi trú ẩn phải phù hợp
        với khí hậu và văn hóa và cho phép mọi người thực hiện các hoạt động
        hàng ngày.
        <br />
        <br />
        Hãy đóng góp cho Quỹ Cứu trợ Khẩn cấp của chúng tôi. Điều này giúp chúng
        tôi đảm bảo rằng tiền có sẵn ngay lập tức khi có thảm họa.
        <br />
        <br />
        Cách zakat (zakah), sadaqah và các khoản quyên góp khác của bạn giúp đối
        phó với thiên tai như thế nào Là một tổ chức từ thiện Hồi giáo cam kết
        tuân thủ luật sharia trong mọi việc chúng tôi làm, Aid chi tiêu các quỹ
        zakat (zakah), sadaqah, Sadaqh Jarya, Waqaf, Riba (tiền lãi), Saqaqah
        Sacrifice và các khoản đóng góp khác theo quy định của luật Hồi giáo.
      </div>
      <%- include('./partials/fund-form.ejs') %> 
    </div>
    <%- include('./partials/footer.ejs') %>

